# TESTING

# Run ``pip install -r requirements.txt`` to install all dependencies


roboflow
opencv-python
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
imutils
tensorflow
keras
ipykernel
ipywidgets